:root {
    --sketching-grid-size: 480px;
    --primary-main-color: rgb(105, 175, 202);
    --secondary-main-color: rgb(56, 147, 175);
    --primary-accent-color: rgb(255, 255, 255);
    --secondary-accent-color: rgb(209, 209, 209);
}

@font-face {
    font-family: 'Sketch Block';
    src: url(./fonts/Sketch_Block.ttf);
}

body {
    margin: 0;
    background-color: var(--primary-main-color);
    font-family: 'Sketch Block', 'Courier New', Courier, monospace;
    /* width: 100vw;
    height: 100vh; */
}

.main {
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options {
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

#title {
    font-size: 40px;
    background-color: var(--secondary-main-color);
    border: 2px groove var(--primary-accent-color);
    padding: 20px;
    border-radius: 30%;
    box-shadow: 0px 0px 5px 10px var(--primary-accent-color);
}

.color-picker {
    display: flex;
    width: 15vw;
    justify-content: space-evenly;
    align-items: center;
}

input[type='color'] {
    appearance: none;
    background: transparent;
    height: 5vh;
    width: 5vw;
    border: none;
    padding: none;
    margin: 0;
    cursor: pointer;
}

input[type='color']:hover {
    outline: 3px solid var(--primary-accent-color);
    outline-offset: -4px;
}

button {
    background-color: var(--secondary-main-color);
    font-size: 20px;
    font-family: 'Sketch Block', 'Courier New', Courier, monospace;
    border: 2px groove var(--primary-accent-color);
    padding: 10px;
    width: 15vw;
    border-radius: 30%;
}

button:hover {
    background-color: var(--primary-main-color);
}

.size-info {
    display: flex;
    justify-content: space-around;
    width: 14vw;
    padding-bottom: 2vh;
}

.size-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type='range'] {
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 13vw;
}

input[type='range']:focus {
    outline: none;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge *****/
input[type='range']::-webkit-slider-runnable-track {
    background: var(--secondary-main-color);
    height: 1vh;
    border-radius: 10px;
}

/***** Firefox *****/
input[type='range']::-moz-range-track {
    background: var(--primary-accent-color);
    height: 1vh;
    border-radius: 10px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge *****/
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: var(--primary-accent-color);
    margin-top: -0.5vh; /* Centers thumb on the track */
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
}

input[type='range']:focus::-webkit-slider-thumb {
    border: 1px solid var(--secondary-accent-color);
    outline: 3px solid var(--secondary-accent-color);
    outline-offset: 0.25vh;
}

/***** Firefox *****/
input[type='range']::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 50%;
    background-color: var(--primary-accent-color);
    width: 2vh;
    height: 2vh;
}

input[type='range']:focus::-moz-range-thumb {
    border: 1px solid var(--secondary-accent-color);
    outline: 3px solid var(--secondary-accent-color);
    outline-offset: 0.25vh;
}

.cell {
    box-sizing: border-box;
    /* height and width set in js */
}

.lines {
    border: 1px solid #000000;
}

.grid {
    box-shadow : 0px 0px 20px 20px var(--secondary-main-color);
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}