:root {
    --sketching-grid-size: 480px;
}


.grid {
    border: 1px solid rgb(250, 0, 0);
    height: var(--sketching-grid-size);
    width: var(--sketching-grid-size);
}

.cell {
    box-sizing: border-box;
    border: 1px solid #000000;
    /* height and width set in js */
}

.hovered {
    background-color: red;
}